
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  font-family: "Neucha", sans-serif;
  background: linear-gradient(135deg, #e1e5f0, #dabeff);
  color: #220303;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


header {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

header h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2.2rem;
}

.hint {
  color: #0f4666;
}


main {
  flex: 1;
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding: 40px 20px;
}


.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.form input {
  padding: 10px 15px;
  width: 70%;
  border: 2px solid #3b285a; /* базовая рамка, чтобы была видна всегда */
  border-radius: 25px;
  font-size: 1rem;
  outline: none;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.form input:focus {
  box-shadow: 0 0 15px 3px rgba(204, 218, 226, 0.7); /* ярче и заметнее */
  border-color: #1e4053; /* можно сменить цвет рамки при фокусе */
}

.form input::placeholder {
  color: #3b285a; 
  opacity: 1;  
}


.form button {
  background-color: #10a7ff;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.form button:hover {
  background-color: #00c6ff;
  transform: scale(1.05);
}

.weather {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.weather:hover {
  transform: translateY(-3px);
  background-color: rgba(255, 255, 255, 0.15);
}

.weather h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.weather__info {
  font-size: 1.2rem;
  line-height: 1.5;
}


.city-name {
  color: #083446; /* цвет для города */
  font-weight: bold;
}

.temp,
.feels-like,
.humidity,
.wind {
    color: rgb(156, 57, 160); /* твой желаемый цвет */
}

.weather-desc {
    color: #004a68;; /* остальной текст белый */
}



@media (max-width: 480px) {
  header h1 {
    font-size: 1.5rem;
  }

  .form {
    flex-direction: column;
    gap: 15px;
  }

  .form input {
    width: 100%;
  }

  .form button {
    width: 100%;
  }
}
